{% extends 'base.html.twig' %}
{% block body %}
 <style>

 </style>

<h1> Bonjour sur le site de vente de livre SymBook
TEST GITHUB</h1>
    {% block content %}
    <h1>Liste des Livres</h1>

    <div class="row">
        {% for livre in pagination %}
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="{{ asset(livre.image) }}" alt="{{ livre.titre }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ livre.titre }}</h5>
                        <p class="card-text">{{ livre.prix }}dt</p>
                        
                    </div>
                    <a href="{{url('app_cart',{'id':livre.id})}}"><button>Add to cart </button></a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
        
        
        <div class="pagination">
    {{ knp_pagination_render(pagination) }}
</div>
              
      
{% endblock %}
